@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/Pics/steve-johnson-EXwBz2ZK0S0-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

header .navbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .logo {
    font-size: 2.3rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}
.navbar .logo span {
    color:rgb(18, 226, 88);
}

.navbar ul li {
    list-style: none;
    display:inline-block;
    margin: 0 15px;
    position: relative;
}

.navbar ul li::after {
    content:'';
    width: 0;
    height: 2px;
    background: rgb(18, 226, 88);
    display: block;
    margin:auto;
    transition: 0.3s ease;
}

.navbar ul li:hover::after {
    width: 100%;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.hero-section {
    height: 650px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.hero-section .content {
    color: #fff;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
